<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Header and Footer</title>
</head>
<body>

	<header	class="w3-container w3-green">
		<h1 align="center" >Spring Quiz</h1>
	</header>
	
	<footer class="w3-container w3-margin-bottom">
	<hr />
	<div align="center">
		<a class="w3-margin-right" th:href="@{/home}">Home</a>
		<a th:href="@{/about}">About</a>
	</div>
	</footer>
	
</body>
</html>