<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Navigation</title>
</head>
<body>
	<!-- Main navigation -->
	<nav th:fragment="topBar">
		<div class="w3-bar w3-light-grey ">
    		<a th:href = "@{/home}" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-black">Home</a>
       		<div class = "w3-dropdown-hover" 
       			sec:authorize = "hasRole('MODERATOR')">
       			<div class="w3-text-grey" style="padding-top: 8px; padding-left: 8px; padding-right: 8px;"> Users &#9660;</div>
       			<div class="w3-dropdown-content w3-bar-block w3-light-grey" style="padding-top: 8px;">
       				<a class="w3-bar-item w3-button w3-hover-none w3-text-grey"
       					sec:authorize = "hasRole('ADMINISTRATOR')"
       					th:href = "@{/users}">Overview</a>	
       				<a class="w3-bar-item w3-button w3-hover-none w3-text-grey"
       					th:href = "@{/users/usersEng}">Engagement</a>
       			</div>
       		</div>
       		<div class = "w3-dropdown-hover"
       			sec:authorize = "hasRole('CONTRIBUTOR')">
       			<div class="w3-text-grey" style="padding-top: 8px; padding-left: 16px; padding-right: 8px;"> Questions &#9660;</div>
       			<div class="w3-dropdown-content w3-bar-block w3-light-grey" style="padding-top: 8px;">
       				<a class="w3-bar-item w3-button w3-hover-none w3-text-grey"
       					sec:authorize = "hasRole('MODERATOR')"
       					th:href = "@{/questions}">Show all</a>
       				<a class="w3-bar-item w3-button w3-hover-none w3-text-grey"
       					th:href = "@{/questions/byMe}">Show added by me</a>
       				<a class="w3-bar-item w3-button w3-hover-none w3-text-grey"
       					th:href = "@{/questions/new}">Add new</a>
       			</div>
       		</div>
       		<a th:href = "@{/about}" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-black">About</a>
       		
			<div class = "w3-right w3-dropdown-hover"
				sec:authorize="isAuthenticated()">
				<div class="w3-text-grey" style="padding-top: 8px; padding-right: 16px;"> Logged in as: <span sec:authentication ="name"></span> &#9660;</div>
				<div class="w3-dropdown-content w3-bar-block w3-light-grey" style="padding-top: 6px;">
					<a class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-center"
					th:href="@{/logout}"> log out </a>
       			</div>
       		</div>
		</div>
	</nav>
	
	<!-- admin tools navigation buttons -->
	<nav th:fragment="adminTools"
		sec:authorize="hasRole('ADMINISTRATOR')">
		<div class="w3-center w3-padding-64">
			<a th:href="@{/users}" class="w3-btn w3-small w3-green"> Users </a>
			<a th:href="@{/questions}" class="w3-btn w3-small w3-green w3-margin-right"> Questions </a>
		</div>
	</nav>
</body>
</html>