<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" type="text/css" href="formStyle.css">
	<title> Spring Quiz - About</title>
</head>
<body>
	<header 
		th:replace="~{fragments/HeaderAndFooter :: header}">
	</header>
	<nav
	 	th:replace="~{fragments/Navigation :: navigation}" >
	 </nav>
	 <h2 align="center"> About page </h2>
	 <p align="center"> This page is under construction</p>
	 <footer
		th:replace="~{fragments/HeaderAndFooter :: footer}">
	</footer>
</body>
</html>