<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title> Spring Quiz - About</title>
</head>
<body>
	<header 
		th:replace="~{fragments/HeaderAndFooter :: header}">
	</header>
	<nav
	 	th:replace="~{fragments/Navigation :: topBar}" >
	 </nav>
	 <h2 align="center"> About page </h2>
	 <p align="center"> Thank you for your interest in the Spring Quiz app. In order to be able to explore all the features it is recommended to create an admin account.<br/>
	 	Please note that this is a demo app and your data as well as your account can be deleted at any time.<br/>
	 	If you have any questions, suggestions, etc., I would be happy to hear from you. Feel free to contact me at 
	 	<a href="mailto:AlexUjfa@outlook.com">AlexUjfa@outlook.com</a></p>
	 <p align="center"> You can find out more about the app by visiting the link:<br/>
	 	<a th:href="@{https://github.com/UjfaA/SpringQuiz}"> https://github.com/UjfaA/SpringQuiz</a></p>
	 <footer
		th:replace="~{fragments/HeaderAndFooter :: footer}">
	</footer>
</body>
</html>