
<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title> Spring Quiz - Questions - New</title>
</head>
<body>
	<header 
		th:replace="~{fragments/HeaderAndFooter :: header}">
	</header>
	<nav
	 	th:replace="~{fragments/Navigation :: topBar}" >
	 </nav>
	 <div class="w3-panel w3-padding w3-center">
	 	<h4 align="center">Create new question</h4>
		<form th:action="@{/questions/new}" method="get">
			
			<p th:text= "'Number of answers: '"> </p>
			
			<select name="numberOfAnswers">
  				<option th:each="n : ${#numbers.sequence(2, MAX_ANSWERS)}" 
  						th:value="${n}" th:text="${n}" th:selected="${n EQ numberOfAnswers}"></option>
			</select>
			<input type="submit" value="Refresh" />
		</form>
	</div>
	 <div class="w3-panel" align="center">
		<form class="w3-container w3-card w3-light-grey" style="width:80%;"
			action="#" th:action="@{/questions/new}" th:object="${question}" method="post">
				<p align="left">
					<label th:for="questionText">Question:</label>
					<label class="w3-text-red"
						th:errors="*{questionText}"> QuestionText error </label>
					<input class="w3-input w3-border"
						type="text" th:field="*{questionText}" 
						required autofocus />
				</p>
				<div class="w3-quarter w3-right" align="center">
					<label th:text="'Correct answer:'"> Correct answer </label>
				</div>
				
				<div th:each="ansCount : ${#numbers.sequence(1, numberOfAnswers)}">
					<div align="left">
						<label th:for="${#ids.next('answers')}" 
							th:text="${'Answer ' + ansCount + ':'}">Answer:
						</label>
					<!-- Using expression pre-processing, so that "index" variable is resolved before (at a "first pass")
						 and the Spring EL engine receives a numeric literal when it executes the whole expression: answers[index]
						 http://forum.thymeleaf.org/How-to-render-Spring-fields-in-a-loop-tp4025542p4025556.html-->
						<label class="w3-text-red" 
							th:errors="*{answers[__${ansCountStat.index}__]}"> Answer error </label>
					</div>
 					<div class="w3-row">
    					<div class="w3-threequarter">
							<input class=" w3-input w3-border" 
								type="text" name="answers" th:value="${ ansCount <= #lists.size(question.answers) ? question.answers[ansCountStat.index] : ''}"  
						 		th:id="${#ids.seq('answers')}"
						 		required />
    					</div>
    					<div class="w3-quarter">
							<input class="w3-radio"
								type="radio" th:field="*{selectedAnswerIndex}" th:value="${ansCountStat.index}"/>
    					</div>
  					</div>
				</div>
				<label class="w3-text-red" th:errors="*{answers}"> Answers error </label>
				<p>
					<input class="w3-btn w3-block w3-green w3-m"
					type="submit" value="Add question" />
				</p>
		</form>
	</div>
	<p align="center" th:text="${message}"></p>
	<footer
		th:replace="~{fragments/HeaderAndFooter :: footer}">
	</footer>
</body>
</html>