<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title> Spring Quiz - Administrator - Questions - User engagement</title>
</head>
<body>
	<header 
		th:replace="~{fragments/HeaderAndFooter :: header}">
	</header>
	<nav
	 th:replace="~{fragments/Navigation :: navigation}" >
	 </nav>
	 
	 <div class="w3-container w3-center w3-padding-large">
		<h2> Questions - User user engagement </h2>
	</div>
	 
	 <div align="center"
	 	th:each ="username : ${usernames}"
	 	th:text ="${username}">
	 </div>
	 <footer
		th:replace="~{fragments/HeaderAndFooter :: footer}">
	</footer>
</body>
</html>