<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title>Spring Quiz - registration</title>
</head>
<body>
	<header 
		th:replace="~{fragments/HeaderAndFooter :: header}">
	</header>
	<nav
	 th:replace="~{fragments/Navigation :: topBar}" >
	 </nav>
	<div class="w3-panel" align="center">
		<h4 align="center">Register new account</h4>
		<form class="w3-container w3-card  w3-light-grey" style="width:50%;"
			action="#" th:action="@{/registration}" th:object="${user}" method="post">
				
			<p align="left">
			<label th:for="firstName">First Name:</label>
			<input class="w3-input w3-border"
				th:field="*{firstName}" autofocus />
			<label class="w3-text-red"
					th:errors="*{firstName}"> input error </label>
			</p>
			<p align="left">
			<label th:for="lastName">Last Name:</label>
			<input class="w3-input w3-border"
				th:field="*{lastName}" />
			<label class="w3-text-red"
					th:errors="*{lastName}"> input error </label>
			</p>
			<p class="w3-tooltip" align="left">
			<label th:for="email">Email: *</label>
			<span class="w3-text w3-tag w3-animate-opacity"> As this is demo app, any email in the correct format is OK.</span>
			<input class="w3-input w3-border" 
				type="email" th:field="*{email}" required />
			</p>
			<p align="left">
			<label th:for="username">Username: *</label>
			<input class="w3-input w3-border" 
				th:field="*{username}" required />
			<label class="w3-text-red"
					th:errors="*{username}"> username error </label>
			</p>
			<p align="left">
			<label th:for="password">Password: *</label>
			<input class="w3-input w3-border" 
				type="password" th:field="*{password}" required />
			<label class="w3-text-red"
				th:errors="*{password}"> password error </label>
			<p align="left">
			<span class="w3-button w3-hover-none w3-text-grey w3-right w3-small"
				style="margin-bottom: 8px;"
				onclick="document.getElementById('id01').style.display='block'">More
				about the account types</span>
			<label th:for="role">Account type:</label> 
			<select class="w3-select w3-border" th:field="*{role}">
				<option th:each="r : ${T(ujfaA.springQuiz.model.Role).values()}"
					class="w3-border-white w3-hover-border-green"
					th:value="${r}" th:text="${r.displayValue}"></option>
			</select>
			</p>
			<p>
				<input class="w3-btn w3-block w3-green w3-m"
					type="submit" value="Register" />
			</p>
		</form>
	</div>
	
	<!-- modal -->
	<div id="id01" class="w3-modal">
		<div class="w3-modal-content">
			<header class="w3-container w3-green">
				<span onclick="document.getElementById('id01').style.display='none'"
					class="w3-button w3-display-topright">&times;</span>
				<h3>Account types:</h3>
			</header>
			<div class="w3-container">
				<p>With <b>Basic</b> account you will be able to take part in the quiz - answer questions and see a score at the end.</p>
				<p>With <b>Contributor's</b> account you will be able to take part in the quiz, but also to add and remove questions that you added.</p>
				<p>With <b>Moderator's</b> account in addition to the above, you will be able to see and delete questions added by anyone. You will also have access to some stats about the quiz.</p>
				<p>With <b>Administrator's</b> account you will have full access. <b>(recommended)</b></p>
			</div>
			<footer class="w3-container w3-green w3-center">
				<span onclick="document.getElementById('id01').style.display='none'"
					class="w3-button w3-hover-none w3-text-white" style="text-decoration: underline;">close</span>
			</footer>
		</div>
	</div>
	
	<div align="center">
		<p th:text="${message}"></p>
	</div>
	<footer th:replace="~{fragments/HeaderAndFooter :: footer}"> </footer>
</body>
</html>