
<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title> Spring Quiz - Questions</title>
</head>
<body>
	<header 
		th:replace="~{fragments/HeaderAndFooter :: header}">
	</header>
	<nav th:replace="~{fragments/Navigation :: topBar}"></nav>
	<div class="w3-container w3-padding w3-center">
		<h4 align="center"
			th:text="${'Question ' + (qIndex + 1)  + '/' + numberOfQuestions}">
			Question</h4>
		<div align="center">
			<div class="w3-card" style="width: 80%;" align="center">
				<form class="w3-container  w3-center w3-light-grey"
					th:action="@{/quiz/show}" method="post">
					<input type="hidden" name="qId" th:value="${question.id}" /> <input
						type="hidden" name="q" th:value="${qIndex}" />
					<p align="left">
						<b th:text="${'&emsp;' + question.questionText}">Question Text</b>
					</p>
					<p align="left" th:each="answer,loop : ${question.answers}">
						<input class="w3-radio" type="radio" th:name="selectedAnswer"
							th:value="${answer}" th:id="${'ans' + loop.index}"> <label
							th:for="${'ans' + loop.index}" th:text="${answer}">
							Answer </label> </p>
					<p><input class="w3-btn w3-block w3-green w3-m" type="submit"
							value="Submit answer" /> </p>
				</form>
				<form class=" w3-center w3-padding w3-light-grey"
					th:action="@{/quiz/skip}" method="post">
					<input type="hidden" name="qId" th:value="${question.id}" /> <input
						type="hidden" name="q" th:value="${qIndex}" /> <input
						class="w3-btn w3-block w3-grey w3-m w3-small" type="submit"
						value="Skip this question" />
				</form>
			</div>
		</div>
	</div>
	<div align="center">
		<p th:text="${message}"></p>
	</div>
	<footer
		th:replace="~{fragments/HeaderAndFooter :: footer}">
	</footer>
</body>
</html>