<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<title> Spring Quiz - Administrator - Questions - User engagement</title>
</head>
<body>
	<header 
		th:replace="~{fragments/HeaderAndFooter :: header}">
	</header>
	<nav
		 th:replace="~{fragments/Navigation :: topBar}" >
	</nav>
	 
	<div class="w3-container w3-center w3-padding-large">
		<h2>User engagement</h2></div>
	<form class=" w3-container w3-center"
			th:action="@{/users/usersEng}" method="get">
		<label class="w3-medium" th:for="select">Users that answered question: </label>
		<select class="w3-select w3-center"  style="width: auto;" name="q" th:id="select">
			<option th:each="question, loop : ${texts}"
				th:text="${question}" th:value="${loop.index}"
				th:selected="${loop.index EQ selectedIndex}" />
			<option th:text="'every question'" th:value="-1" th:selected="${selectedIndex == -1}" />
		</select>
		<p>
			<label th:for="cbox"> Show only users that answered correctly</label>
			<input class="w3-check"
				type="checkbox" name="correctly" th:id="cbox" th:checked="${checked}"/></p>
		<input class="w3-btn w3-green w3-small" type="submit" value="Show"/>
	</form>
	 <div class=" w3-container w3-center w3-mmargin-top">
	 	<p th:each="username : ${usernames}" 
	 		th:text ="${username}"> username </p>
	 	<p th:if="${#sets.isEmpty(usernames)}"
	 		th:text="${'None of the users answered'
	 			+ (selectedIndex == -1 ? ' every' : ' the') + ' question'
	 			+ (checked ? ' correctly' : '') + '.'}"> username</p>
	 </div>
	 <footer
		th:replace="~{fragments/HeaderAndFooter :: footer}">
	</footer>
</body>
</html>