
.quiz-gallery-view ol {
	grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}
  
.quiz-gallery-view li {
	transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background-color, box-shadow;
}

.quiz-gallery-view li:hover {
	background-color: var(--lumo-base-color);
	box-shadow: var(--lumo-box-shadow-s);
}

.quiz-gallery-view li img {
	object-fit: contain;
}
